.hero {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  min-height: 653px;
  margin-bottom: 42px;
}

.heading {
  /* Heading */

  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0 auto;
}

@media (min-width: 1024px) {
  .heading {
    flex-direction: row;
    margin: 0 105px;
  }
}

.heading .title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  /* or 133% */

  /* Primary */
  color: #8bac3e;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  margin: 0;
  z-index: 6;
}

.heading .caption {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  /* or 161% */

  /* Color/Light1 */

  color: #757575;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;

  margin: 0;
  z-index: 6;
}

.heading .buttons {
  /* Auto Layout */
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  height: 42px;
  left: 0px;
  top: 659.16px;

  /* Inside Auto Layout */
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  z-index: 6;
}

.heading > figure {
  display: none;
}
.heading > figure,
.card > figure {
  position: relative;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
@media (min-width: 1024px) {
  .heading > figure {
    display: block;

    /* Group 385 */
    position: absolute;
    width: 651px;
    height: 663.62px;
    right: 88px;
    top: 37px;
  }
}

.heading > figure .figure_1 {
  position: absolute;
  width: 480px;
  height: 530.88px;
  top: 66px;
  left: 109px;
  /* z-index: 4; */
}

.heading > figure .figure_2 {
  position: absolute;
  width: 603px;
  height: 663.62px;
  left: 48px;
  top: 0;
  /* z-index: 3; */
}

.heading > figure .card_profile {
  top: 466px;
  left: 0;
}

.card {
  margin-top: 182.49px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 5;
}

@media (min-width: 1024px) {
  .card {
    position: absolute;
    width: 50%;
    max-width: 482px;
  }
}

.card > figure {
  display: flex;
  justify-content: center;
  position: relative;
  height: 319.16px;

  z-index: 5;
}

@media (min-width: 1024px) {
  .card > figure {
    display: none;
  }
}

.card > figure .figure_1,
.card > figure .figure_2 {
  position: absolute;
}

.card > figure .figure_1 {
  width: 234.21px;
  height: 255.31px;
}

.card > figure .figure_2 {
  width: 290px;
  height: 319.16px;
}

.card > figure .figure_1,
.card > figure .figure_2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card > figure .card_profile {
  left: 50%;
  bottom: 32.16px;
  transform: translateX(-50%);
}

@media (min-width: 480px) {
  .card > figure .figure_1 {
    bottom: 32.1px;
    right: 154.03px;
  }
  .card > figure .figure_2 {
    top: 0;
    right: 123.78px;
  }
}

@media (min-width: 768px) {
  .card > figure .figure_1 {
    width: 372.54px;
    height: 406.11px;
    right: 97.03px;
  }
  .card > figure .figure_2 {
    width: 468px;
    height: 507.66px;
    bottom: -32.1px;
    right: 47.78px;
    top: unset;
  }
  .card > figure .card_profile {
    bottom: 32.16px;
    left: 90px;
  }
}

.card_profile {
  position: absolute;
  display: flex;

  width: 292px;
  height: 93px;

  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  /* Note: backdrop-filter has minimal browser support */

  padding: 12px 23px 22px;
  border-radius: 17px;
}

@media (min-width: 480px) {
  .card > figure .card_profile {
    top: unset;
    left: unset;
    transform: unset;
    bottom: 32.16px;
    right: 0;
    backdrop-filter: blur(11px);
  }
}

.card_profile .image {
  padding-top: 6px;
}

.card_profile .description {
  display: flex;
  flex-direction: column;

  margin-left: 19px;
}

.card_profile .description h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #000;

  margin-bottom: 2px;
}

.card_profile .description p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 117%;
  color: #757575;

  margin-bottom: 10px;
}

.hero .hero_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/background.png");
  background-repeat: repeat;

  z-index: -1;
}
