.container {
  padding: 0;
}

.title {
  margin-bottom: 32.78px;
}

.title h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 50px;

  color: #333333;
}

.title h3:nth-child(2) {
  color: #8bac3e;
}
