.button {
  padding: 10px 18px;

  /* Primary */
  background-color: #8bac3e;
}
.button:hover,
.button:focus {
  background-color: #8bac3e;
}
.button:active {
  background-color: #708b32 !important;
}

.label {
  /* Heading/H7-Xxsmall */
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  /* identical to box height, or 157% */
  display: flex;
  align-items: center;

  /* Color/White */
  color: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
