.page-title > h2 {
  margin-bottom: 20px;
  padding: 0 15px;
}

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/img/unj-bg.png"); */
  background-color: #f8f8f8;
}
